.App {
  width: 90%;
  margin: auto;
}

.Header {
  text-align: center;
}
#response {
  text-align: center;
}

@keyframes example {
  0% {left: -100px;}
  25% {left: 100px;}
  50% {left: -100px;}
  75% {left: 100px;}
  100% {left: 0px;}
}

#eightBall {
  position: relative;
  margin: auto;
  display: block;
}

#btnControl {
  display: none;
  animation-name: example;
}

#btnControl:checked + label > img {
  animation-name: example;
  animation-duration: .5s;
  position: relative;
}